/*

Add styles or override variables from the theme here.

*/


$primary: white;
$secondary: green;

$stos-grey: #4a5165;
$navbar-dark-color: $stos-grey;
$navbar-dark-hover-color: $stos-grey;
$navbar-dark-active-color: $stos-grey;
$navbar-dark-disabled-color: $stos-grey;

// Dropdown settings for Releases in top nav menu
$dropdown-min-width: 0rem;
$dropdown-border-width: 10px;
$dropdown-border-color: white;

.nav-link span {
  text-shadow: none;
}

.td-navbar-nav-scroll .navbar-nav li a {
  text-shadow: none;
  margin-right: 30px;
  margin-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #4a5165 !important;
}

.td-navbar {
    border-bottom: 1px solid #ddd;
}

.navbar {
    padding: 0rem 0.5rem 0rem 1rem !important;
}

.navbar-nav .dropdown-menu {
    margin-top: 20px;
    border: 1px solid #ddd;
}

.dropdown-menu {
  left: auto;
  margin-top: 1rem;
  
  .show {
      margin-top: 10px;
  }
  .dropdown-item {
      padding: 0.9rem 0rem 0rem 1rem;
  }
}
