/*

Add styles or override variables from the theme here.

*/


$primary: white;
$secondary: green;

$storageos-grey: #4a5165;
$navbar-dark-color: $storageos-grey;
$navbar-dark-hover-color: $storageos-grey;
$navbar-dark-active-color: $storageos-grey;
$navbar-dark-disabled-color: $storageos-grey;

// Dropdown settings for Releases in top nav menu
$dropdown-min-width: 0rem;
$dropdown-border-width: 10px;
$dropdown-border-color: white;

.nav-link span {
  text-shadow: none;
}

.td-navbar-nav-scroll .navbar-nav li a {
  text-shadow: none;
  margin-right: 30px;
  padding: 0; 
  margin-left: 0;
  font-size: 15px;
}

.td-sidebar-nav a {
  font-size: 16px;
}

