{{ $links := .Site.Params.links }}
<footer class="row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
          <div class="footer-nav-column">
              <h3 class="widget-title">Product</h3>
              <ul>
                <li><a href="https://storageos.com/product">Overview</a></li>
                <li><a href="https://storageos.com/features">Features</a></li>
                <li><a href="https://storageos.com/use-cases">Use cases</a></li>
                <li><a href="https://storageos.com/why-storageos">Why StorageOS</a></li>
                <li><a href="https://storageos.com/how-it-works">How it works</a></li>
                <li><a href="https://storageos.com/how-it-works/#faq">FAQ</a></li>
            </ul>
          </div>
      </div>
      <div class="col">
          <div class="footer-nav-column">
              <h3 class="widget-title">Solutions</h3>
              <ul>
                  <li><a href="https://storageos.com/developers">Developers</a></li>
                  <li><a href="https://storageos.com/infrastructure-managers">Infrastructure
                          Managers</a></li>
                  <li><a href="https://storageos.com/cloud">Cloud</a></li>
              </ul>

          </div>
      </div>
      <div class="col">
          <div class="footer-nav-column">
              <h3 class="widget-title">Docs</h3>
              <ul id="menu-footer-docs" class="menu">
                  <li><a href="https://docs.storageos.com">Overview</a></li>
                  <li><a href="https://support.storageos.com">Support</a></li>
              </ul>
          </div>
      </div>
      <div class="col">
          <h3 class="widget-title">Company</h3>
          <ul>
              <li><a href="https://storageos.com/company">About</a></li>
              <li><a href="https://storageos.com/leadership">Leadership</a></li>
              <li><a href="https://storageos.com/careers">Careers</a></li>
              <li><a href="https://storageos.com/news">News</a></li>
              <li><a href="https://storageos.com/events">Events</a></li>
              <li><a href="https://storageos.com/contact">Contact</a></li>
              <li><a href="https://storageos.com/media">Media</a></li>
              <li><a href="https://storageos.com/privacy">Legal</a></li>
          </ul>
      </div>
      <div class="col">
          <h3 class="widget-title">Learn</h3>
          <ul>
              <li><a href="https://storageos.com/blog">Blog</a></li>
              <li><a href="https://play.storageos.com">play.storageos.com</a></li>
              <li><a href="https://storageos.com/resources">Resources</a></li>
              <li><a href="https://resources.storageos.com/demo-request">Get a
                      demo</a></li>
          </ul>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</footer>
