<li class="nav-item dropdown d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Product
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://storageos.com/product">Overview</a>
        <a class="dropdown-item" href="https://storageos.com/features">Features</a>
        <a class="dropdown-item" href="https://storageos.com/use-cases">Use cases</a>
        <a class="dropdown-item" href="https://storageos.com/why-storageos">Why StorageOS</a>
        <a class="dropdown-item" href="https://storageos.com/how-it-works">How it works</a>
    </div>
</li>

<li class="nav-item dropdown d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Solutions
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://storageos.com/developers">Developers</a>
        <a class="dropdown-item" href="https://storageos.com/infrastructure-managers">Infrastructure Managers</a>
        <a class="dropdown-item" href="https://storageos.com/cloud">Cloud</a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">
        Docs
    </a>
</li>

<li class="nav-item dropdown d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Company
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://storageos.com/company">About us</a>
        <a class="dropdown-item" href="https://storageos.com/leadership">Leadership</a>
        <a class="dropdown-item" href="https://storageos.com/news">News</a>
        <a class="dropdown-item" href="https://storageos.com/events">Events</a>
        <a class="dropdown-item" href="https://storageos.com/contact">Contact</a>
    </div>
</li>

<li class="nav-item dropdown d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Learn
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://storageos.com/blog">Blog</a>
        <a class="dropdown-item" href="https://play.storageos.com/main">Play with StorageOS</a>
        <a class="dropdown-item" href="https://storageos.com/resources/">Resources</a>
        <a class="dropdown-item" href="https://resources.storageos.com/demo-request">Get a demo</a>
    </div>
</li>

